name: main.yml
on:
  push

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up go
        uses: actions/setup-go@v6
        with:
            go-version: '1.25'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
  Test:
    needs: [Build]
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: test
        run: go test ./internal/service/author/